* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.pageOverlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    z-index: 900; /* Debajo del carrito, pero encima del resto de la página */
    opacity: 0; /* Inicia invisible */
    transition: opacity 0.5s ease;
}
.pageOverlay.show {
    opacity: 1; /* Hace visible el overlay */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 5px;
    width: 100%;
}
img{
    max-width: 100%;
}
.logosur {
    width: 200px;
    height: auto;
    /* margin-left: 20px; */
    cursor: pointer;
    background-color: white;
}
.logonuve {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.logonuve img {
    width: 80px;
    height: 80px;
    /* margin-right: 15px;
    margin-left: 10px; */
}
nav .dropdown .dropdown-content a{
    display: block;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-right: 20px;
    margin-left: 20px; */
}

.dropdown {
    position: relative;
}

.dropdown a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 0 10px;
    position: relative;
    display: inline-block;
    padding: 3px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.dropdown a:hover {
    color: #02569c;
    font-weight: 600;
    border-bottom-color: #02569c;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    z-index: 1;
    padding: 5px;
    min-width: 200px;
    margin-top: 0;
    width: auto;
    height: auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 8px;
    padding-top: 2px;
    text-decoration: none;
    margin: 2px;
    font-size: 10px;

    flex: 2 2 45%;
}

/* Estilos para los iconos */
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-right: -90px;
    margin-left: 80px;
}

.icon-container {
    position: relative;
    text-align: center;
}

.svg {
    /* margin: 8px; */
    cursor: pointer;
    transition: fill 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    fill: #000000;
    height: 25px;
}

.svg:hover {
    fill: #02569c;
    transform: scale(1.2);
}

.icon-name {
    display: none;
    background-color: #fff;
    color: #02569c;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-container:hover .icon-name {
    display: block;
}
/* carrito */
/* .carrito {
    position: relative;
} */

.count-products {
    position: absolute;
    top: -20%;
    right: -5px;
    color: #261ad4;
    background-color: #fff;
    box-shadow: 1px 0 1px rgba(122, 118, 228, 0.3);
    border-radius: 80%;
    width: 17px;
    height: 17px;
    font-size: 13px;
    font-weight: bold;
}

.tarjeta-productos-carrito {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: auto;
    height: 100vh;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    flex-direction: column;
}

.hea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 10;
    padding: 10px 0;
}
.cerrar-carrito{
    fill: #6e6c6c;
}
.cerrar-carrito:hover{
    fill: #070707;
    transform: rotate(50deg);
    transition: all .3s ease;
}
/* Este contenedor es el que tendrá scroll */
.cart-products-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}
.cart-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    margin-bottom: 10px;
    padding: 10px;
}
.cart-products a {
    text-decoration: none;
    color: #000;
}
.cart-products a:hover {
    text-decoration: none;
    color: #2b3ad6;
}
.descri-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.titulo-carrito-producto h6{
    font-size: 30px;
}
.descri-product p {
    font-size: 17px;
}
.talla-carrito {
    color: #c2c2c2;
    margin-top: -15px;
    margin-bottom: 2px;
}
.cantidad-carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5rem;
    width: 90px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
.cantidad-valor{
    margin: 0 15px;
    font-size: 17px;
    font-weight: bold
}
.cantidad-carrito button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cantidad-carrito button:hover{
    fill: #0056b3;
    color: #0056b3;
}
.cantidad-carrito .cantidad-baja{
    fill: #383838;
}
.cantidad-carrito .cantidad-sube{
    font-size: 25px;
}
.precio-producto-carrito {
    font-weight: bold;
    font-size: 20px;
}

.cart-products img {
    width: 100px;
    height: 100px;
}

.quitar-product {
    fill: #000;
    margin-left: 70px;
}

.quitar-product:hover {
    fill: red;
}

.ultimo-carrito {
    position: sticky;
    bottom: 0;
    background-color: inherit;
    z-index: 10;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total h3 {
    font-size: 20px;
    color: #000;
}

.cart-total span {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.cart-pagar button {
    width: 100%;
    border: none;
    background-color: green;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.cart-pagar button:hover {
    background-color: #57b857;
}
.hidden-cart {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}
.cart-emty{
    padding: 20px;
    text-align: center;
}
.carrito-vacio{
    text-align: center;
    margin-top: 150px;
    font-size: 35px;
    color: rgba(216, 211, 211, 0.831);
    transform: rotate(-60deg); /* Cambia el valor para ajustar el ángulo */
    display: inline-block; /* Para que el elemento respete el tamaño del contenido */
}
/* estilos para la barra de desplazamiento */
/* esta selecciona toda la  */
.cart-productos-conatiner::-webkit-scrollbar { 
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.cart-productos-conatiner::-webkit-scrollbar-thumb {
    background-color:  #cac9c9; /* Color de la parte que se mueve de la barra */
    border-radius: 5rem; /* Bordes redondeados */
}

.cart-productos-conatiner::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color cuando se hace hover */
}

.cart-productos-conatiner::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista de la barra */
}

/* Estilos para Firefox */
.cart-productos-conatiner {
    scrollbar-width: thin; /* Anchura de la barra de desplazamiento */
    scrollbar-color: #cac9c9 #f1f1f1; /* Color de la barra y de la pista de fondo */
    border-radius: 5rem;
}
/*index*/
/* carousel */
.carousel {
    height: auto;
    width: 100%;
}
/* index fotos*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contenedor-imagen {
    position: relative;
    overflow: hidden; /*esto es para que la img no se desborde como que no se salga de su contenedor */
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 300px;
    height: 400px;
}

.contenedor-imagen img {
    width: 300px;
    height: 400px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.contenedor-imagen h1 {
    position: absolute;
    top: 300px;
    left: 55px;
    z-index: 20;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 0 #000000;
    font-weight: bold;
    font-size: 40px;
}

.contenedor-imagen .unif {
    left: 40px;
}

.contenedor-imagen .otres {
    top: 250px;
    left: 30px;
    text-align: center;
}

.contenedor-imagen .otras {
    left: 60px;
}

.contenedor-imagen:hover {
    transform: scale(1.03);
    opacity: 0.8;
}

.contenedor-imagen .texto {
    position: absolute;
    top: 360px;
    left: 95px;
    color: #fff;
    text-shadow: 1px 1px 0 #000000;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.contenedor-imagen .texta {
    position: absolute;
    top: 360px;
    left: 120px;
    color: #fff;
    text-shadow: 1px 1px 0 #000000;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.contenedor-imagen .textos {
    position: absolute;
    top: 360px;
    left: 135px;
    color: #fff;
    text-shadow: 1px 1px 0 #000000;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
.contenedor-imagen .texto{
    margin-left: 30px;
}
.contenedor-imagen:hover .texto,
.contenedor-imagen:hover .texta,
.contenedor-imagen:hover .textos,
.contenedor-imagen:hover h1 {
    transform: scale(1.1);
} .portada img{
    background:linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);

}
/* linea y marque */
.marquee {
    width: 100%;
    overflow: hidden; /* Oculta el contenido fuera del contenedor */
    background: #000000; /* Color de fondo opcional */
    border: 1px solid #ddd; /* Borde opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    position: relative;
    white-space: nowrap; /* Evita el salto de línea */
    margin-bottom: 20px;
}

.marquee-inner {
    display: flex;
    animation: marquee 20s linear infinite; /* Anima el texto continuamente */
}

.marquee span {
    display: inline-block; /* Muestra cada frase en una línea continua */
    padding: 0 20px; /* Espacio entre frases */
    font-size: 30px;
    color: #fff;
}

/* Anima el texto de derecha a izquierda */
@keyframes marquee {
    0% {
        transform: translateX(0); /* Comienza desde el borde izquierdo del contenedor */
    }
    100% {
        transform: translateX(-50%); /* Termina en el borde derecho del contenedor */
    }
}
.linea{
    border: 2px solid rgb(137, 136, 136);
    margin: 60px ;
}
.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 40px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.informacion p span{
    color: #d45992;
    font-weight: bold;
    font-size: 30px;
}
/* marcas */
.marcas p{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    position: relative;
}
.marcas-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 40px;
}
.marcas-logos svg{
    border-radius: 50%;
}
.marcas-logos svg:hover{
    border-radius: 50%;
    transition: all 2s ease;
}
.marcas-logos .aritex-logo{
    fill: #0a2747;
    width: 200px;
    height: 200px;
}
.marcas-logos .aritex-logo:hover{
    fill: #fff;
    background-color:#0a2747 ;
}
.marcas-logos .leonisa-logo{
    fill: #000;
    width: 200px;
    height: 200px;
}
.marcas-logos .leonisa-logo:hover, 
.marcas-logos .reymon-logo:hover, 
.marcas-logos .tarrao-logo:hover {
    fill: #fff;
    background-color: #000;
}
.marcas-logos .reymon-logo, .tarrao-logo{
    width: 200px;
    height: 200px;
}
.marcas-logos .lilipink-logo{
    fill: #f573cc;
    width: 200px;
    height: 200px;
}
.marcas-logos .lilipink-logo:hover{
    fill: #fff;
    background-color: #f573cc;
}
.marcas-logos .laura-logo{
    fill: #0f5e74;
    width: 200px;
    height: 200px;
}
.marcas-logos .laura-logo:hover{
    fill: #ffffff;
    background-color: #0f5e74;
}
.marcas-logos .laura-logo circle{
    fill: #ff9d00;
}

.marcas-logos a{
    margin-left: 10px;
}
/* pagina de uniformes */
.titulounif{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.titulounif h1{
    margin-right:10px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(2, 2, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulounif h3{
    margin-right: 10px ;
    font-size: 40px;
    font-weight: bold;
}
.titulounif h2{
    font-size: 90px;
    color: rgb(248, 36, 138);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.titulounif img {
    justify-content: start;
    width: 100px;
}
.colegios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.escudos{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.escudos:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.escudos img{
    width: 200px;
    height: 500px;
    max-height: 180px;
    object-position: center; 
}
.escudos a{
    text-decoration: none;
    list-style: none;
}
.escudos .colegtext{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
}
/* uniformes*/
.cartelliceo img {
    height: 200px;
    width: 100%;
}
.cartelliceo h1{
    position: absolute;
    top: 35%;
    right:20%;
    color: white;
    text-shadow: 2px 1px 0 black;
}
.productoscoleg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tarjetaproducto{
    /* flex: 1 1 300px; */
    border: 1px solid #ddd;
    background: white;
    margin: 30px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius:8px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 450px;

}
.tarjetaproducto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tarjetimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetimg img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    padding-left: 20px;
    margin-top: 10px;
    /* background-color: #0056b3; */

}
.descrip {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.precios p{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #000000;
    font-size: 16px;
}
.precios {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #000000;
    font-size: 20px;
}
.precios p {
    display:none;
    font-size: 25px;
}
.precios2{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #000000;
    font-size: 20px;
}
.tallas {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.tallas .titulo span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.talla {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
} 
.precios span {
    display: none; 
}
.talla.active {
    background-color: #c9ced3;
    color: #fff;
}
.tarjetaproducto .tallas .talla{
    background-color:  #EBEBEB;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0,3s ease;
    font-size: 10px;
}
.tarjetaproducto .tallas .talla:hover{
    background-color: rgb(0, 0, 0, 0.3);
}
.tarjetaproducto .tallas .talla.active {
    background-color: #323232;
    color: #F2f2f2;
    transform: translateY(-20px);
}
.agregar-carrito {
    padding: 10px;
    display: flex;
    justify-content: center;
    transition: background-color .2s;
    margin: 10px 20px;
}

.agregar-carrito  {
    text-decoration: none;
    color: #fff;
    background-color: #02569c;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    border: none;
}

.agregar-carrito:hover {
    background-color: #f03d8a;
}
.venta-escudos{
    display: flex
}
.tarjetaproducto-escudos{
    border: 1px solid #ddd;
    background: white;
    margin: 30px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius:8px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 350px;
}
.tarjetimg-escudos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetimg-escudos img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    padding:  0 20px;
    margin-top: 10px;
}
.precios-escudos{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* colegios*/
.cartelcespedes .escucojovita img{
    position: absolute;
    top: 30px;
    left: 30px;
}
.cartelcespedes img {
    height: 200px;
    width: 100%;
}
.cartelcespedes h1{
    font-size: 35px;
    position: absolute;
    top: 35%;
    right:4%;
    color: white;
    text-shadow: 2px 1px 0 black;
}
.cartelpumarejo img{
    height: 200px;
    width: 100%;
}
.cartelpumarejo h1{
    font-size: 35px;
    position: absolute;
    top: 35%;
    right:2%;
    color: white;
    text-shadow: 2px 1px 0 black;
}
.carteljulia img{
    height: 200px;
    width: 100%;
}
.carteljulia h1{
    font-size: 35px;
    position: absolute;
    top: 35%;
    right:15%;
    color: white;
    text-shadow: 2px 1px 0 black;
}
.titulo-escudos-venta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-escudos-venta h1{
    font-family: 'Courier New', Courier, monospace;
}
/* mujer y caballeros */
.dama-container{
    width: 300px;
    height: 500px;
    padding-left: 0;
    padding-top: 0;
}
.img-dama img{
    height: 300px;
    width: 300px;
    background:#fff;
    transition: all 4s ease;
}

.dama-container .descrip,.precios, .tallas-contenedor{
    margin-right: 20px;
}
.dama-container .agregar-carrito{
    margin-right: 45px;
}
/* colores mujer */
.dama-container .colores-dama{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.dama-container .colores-dama span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 5px;
}
/* blusa1 */
.blusa1 img:hover{
    content: url(img/mujer/blusas/blusa1.2.png);
    background: #fff;
    transition: all 2s ease;
}
.dama-container .colores-dama span:nth-child(1){
    background-color: #dabbb9;
}
.dama-container .colores-dama span:nth-child(2){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .colores-dama span:nth-child(3){
    background-color: #000000
}
.dama-container .colores-dama span:nth-child(4){
    background-color: #551309
}
/* busa2  */
.blusa2 img {
    background:linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.blusa2 img:hover{
    content: url(img/mujer/blusas/blusa3.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa2 span:nth-child(3){
    background-color: #f4e4c3;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa2 span:nth-child(2){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa2 span:nth-child(1){
    background-color: #000000
}
/* blusa4 */
.dama-container .blusa4 span:nth-child(3){
    background-color: #c3dcf4;
}
.dama-container .blusa4 span:nth-child(2){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa4 span:nth-child(1){
    background-color: #c4ccbd;
}
.dama-container .blusa4 span:nth-child(4){
    background-color: #000000
}
/* blusa5 */
.blusa5 img{
    background-color: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.blusa5 img:hover{
    content: url(img/mujer/blusas/blusa5.png);
}
.dama-container .blusa5 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa5 span:nth-child(2){
    background-color: #000000
}
/* blusa6 */
.dama-container .blusa6 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa6 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa6 span:nth-child(3){
    background-color: #000000
}
/* blusa7 */
.blusa7 img:hover{
    content: url(img/mujer/blusas/blusa7.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa7 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa7 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa7 span:nth-child(3){
    background-color: #000000
}
/* blusa8 */
.dama-container .blusa6 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa6 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa6 span:nth-child(3){
    background-color: #000000
}
/* blusa9 */
.blusa9 img:hover{
    content: url(img/mujer/blusas/blusa9.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa8 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa8 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa8 span:nth-child(3){
    background-color: #000000
}
/* blusa10 */
.dama-container .blusa10 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa10 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa10 span:nth-child(3){
    background-color: #000000
}
/* blusa11 */
.blusa11 img:hover{
    content: url(img/mujer/blusas/blusa11.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa11 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa11 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa11 span:nth-child(3){
    background-color: #000000
}
/* blusa12 */
.blusa12 img:hover{
    content: url(img/mujer/blusas/blusa12.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa12 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa12 span:nth-child(1){
    background-color: #ffffff;
    border:1px solid rgb(197, 195, 195);
}
.dama-container .blusa12 span:nth-child(3){
    background-color: #000000
}
/* blusa13 */
.blusa13 img:hover{
    content: url(img/mujer/blusas/blusa13.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa13 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa13 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa13 span:nth-child(3){
    background-color: #000000
}
/* blusa14 */

.dama-container .blusa14 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa14 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa14 span:nth-child(3){
    background-color: #000000
}
/* blusa15 */
.blusa15 img:hover{
    content: url(img/mujer/blusas/blusa15.2.png);
    background: linear-gradient(to right, #edebeb, #cdcccc, #dbd8d8);
}
.dama-container .blusa15 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa15 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa15 span:nth-child(3){
    background-color: #000000
}
/* blusa16 */
.dama-container .blusa16 span:nth-child(2){
    background-color: #c3dcf4;
}
.dama-container .blusa16 span:nth-child(1){
    background-color: #ffffff;
    border: 1px solid rgb(197, 195, 195);
}
.dama-container .blusa16 span:nth-child(3){
    background-color: #000000
}
/* jeans dama */
.jean1 img:hover{
    content: url(img/mujer/jeans/jean1.png);
}
.jean2 img:hover{
    content: url(img/mujer/jeans/jean2.2.png);
}
.jean3 img:hover{
    content: url(img/mujer/jeans/jean3.2.png);
}
.jean4 img:hover{
    content: url(img/mujer/jeans/jean4.2.png);
}
.torero img:hover{
    content: url(img/mujer/jeans/torero2.png);
}
.jogger1 img:hover{
    content: url(img/mujer/jeans/jogger1.png);
}
.dama-container .jogger1 span:nth-child(1){
    background-color: #ecdfc8;
}
.dama-container .jogger1 span:nth-child(2){
    background-color: #5f3c13;
}
.dama-container .jogger1 span:nth-child(3){
    background-color: #000000
}
.pantalon1 img:hover{
    content: url(img/mujer/jeans/pantalon1.2.png);
}
.pantalon2 img:hover{
    content: url(img/mujer/jeans/pantalon2.2.png);
}
.pantalon3 img:hover{
    content: url(img/mujer/jeans/pantalon3.2.png);
}
/* vestido y falda */
.falda img:hover{
    content: url(img/mujer/blusas/blusa9.2.png);
}
.vestido img:hover{
    content: url(img/mujer/vestidos/vestido1.2.png);
}
/* short */
.short1 img:hover{
    content: url(img/mujer/shorts/short1.2.png);
}
/* sacos y chaquetas */
.chaqueta1 img:hover{
    content: url(img/mujer/sacos\ y\ chaquetas/chaqueta1.2.png);
}
/* exras uniformes */
/* colores licra */
.dama-container .licra span:nth-child(1){
    background-color: #434343;
}
.dama-container .licra span:nth-child(2){
    background-color: #a1a1a1;
}
.dama-container .licra span:nth-child(3){
    background-color: #083056;
}
.dama-container .licra span:nth-child(4){
    background-color: #000000;
}
.dama-container .licra span:nth-child(5){
    background-color: #f8f8f8;
    border: 1px solid rgb(203, 202, 202);
}
.tallascont {
    display: inline-block;
}
.tallasco {
    display: flex; 
    flex-wrap: nowrap; /* Evita el salto de línea */
    gap: 5px 
}
.tallac {
    background-color: #d6d6d6;
    padding: 5px 10px;
    border-radius: 80%;
    cursor: pointer;
    transition: all 0.3s ease; 
    font-size: 20px;
    display: flex; 
}
.tallac.active {
    background-color: #323232;
    color: #F2f2f2;
    transform: translateY(-20px);
}

.tallac:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #555;
}
/* Pagina de los niños */
.niñosft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.imgniño {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.imgniño:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgniño img {
    width: 300px;
    height: 400px;
    max-height: 180px;
    object-fit: cover; 
    object-position: center; 
}

.textniño {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
}
.fondoniños{
    background-image: url(img/niños/fondoniños.jpg);
}
.fondoniñas{
    background-image: url(img/niños/fondoniña.jpg);
}
/* ropa de casa */
.ropadecasa-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.ropadecasa-container a{
    text-decoration: none;
    color: #000;
}
.ropadecasa-producto .ver_mas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ropadecasa-producto .ver_mas button{
    border: none;
    border-bottom: 1px solid #000;
}
.ropadecasa-producto .ver_mas button:hover{
    border: none;
    border-bottom: 2px solid #272eae;
    color: #272eae;
}
.ropadecasa-producto{
    background: #ffffff;
    margin: 30px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius:8px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 400px;
}
.ropadecasa-producto img{
    /* object-fit: contain; */
    margin-bottom: 10px;
    margin-top: 5px;
    width: 300px;
    height: 200px;
    border-radius: 40px;

}
.ropadecasa-producto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.mas-espacio{
    width: 300px;
    height: 400px;
}
.descrip-ropadecasa h6{
    font-size: 20px;
    text-align: center;
}
/* información sabana infantil */
.sabanas-infantiles {
    display: flex;
    margin: 20px 30px;
}

.tipos {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: auto;
    overflow-y: auto;
    cursor: pointer;
}

.descri-tipo {
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: center; /* Centra los títulos */
    margin-right: 10px;
}

.descri-tipo img {
    width: 150px; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: 100px;
}
.descri-tipo h3 {
    margin-top: 10px;
    font-size: 1rem; 
}
.sabana-infantil{
    margin-right: 30px;
    margin-left: 30px;
    cursor: zoom-in;
}
.sabana-infantil img {
    width: 800px;
    height: 500px;
}
.sabana-cortina{
    margin-right: 30px;
    margin-left: 30px;
}
.sabana-cortina img{
    width: 800px;
    height: 400px;
}
.desci-infantil{
    display: flex;
    flex-direction: column;
}
.sabanas-algodon img{
    margin-bottom: 15px;
}
/* cortinas */
.imagen-cortina img{
    cursor: pointer;
}
.ropadecasa-producto .colores-casa{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.ropadecasa-producto .colores-casa span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 5px;
}
.ropadecasa-producto .imagenes-casa img{
    display: none;
}
/* colores cortina 1 */
.ropadecasa-producto .colores-casa span:nth-child(1){
    background-color: #e2a8b4;
}
.ropadecasa-producto .colores-casa span:nth-child(2){
    background-color: #ded2c2;
}
.ropadecasa-producto .colores-casa span:nth-child(3){
    background-color: #aea5a6;
}
.ropadecasa-producto .colores-casa span:nth-child(4){
    background-color: #5e5558;
}
.ropadecasa-producto .colores-casa span:nth-child(5){
    background-color: #ebeae8;
    border: 1px solid rgb(185, 181, 181);
}
/* colores cortina 2 */
.ropadecasa-producto .colores-cortina2 span:nth-child(1){
    background-color: #716f7d;
}
.ropadecasa-producto .colores-cortina2 span:nth-child(2){
    background-color: #d0c5af;
}
.ropadecasa-producto .colores-cortina2 span:nth-child(3){
    background-color: #8a8582;
}
.ropadecasa-producto .colores-cortina2 span:nth-child(4){
    background-color: #afb3b9;
}
.ropadecasa-producto .colores-cortina2 span:nth-child(5){
    background-color: #c48389;
}
/* cojines peluche */
.ropadecasa-producto .colores-cojinpeluche span:nth-child(1){
    background-color: #7a8990;
}
.ropadecasa-producto .colores-cojinpeluche span:nth-child(2){
    background-color: #8b7abe;
}
.ropadecasa-producto .colores-cojinpeluche span:nth-child(3){
    background-color: #d06d81;
}
.ropadecasa-producto .colores-cojinpeluche span:nth-child(4){
    background-color: #fff;
}
.ropadecasa-producto .colores-cojinpeluche span:nth-child(4){
    background-color: #000;
}
/* colores cojin */
.ropadecasa-producto .colores-cojin span:nth-child(3){
    background-color: #3b4d7d;
}
.ropadecasa-producto .colores-cojin span:nth-child(4){
    background-color: #fff;
    border: 1px solid #a8a8a8;
}
/* colores  sabanas */
.ropadecasa-producto .sabanas span:nth-child(1){
    background-color: #f7e7d3
}
.ropadecasa-producto .sabanas span:nth-child(2){
    background-color: #a32a3c;
}
.ropadecasa-producto .sabanas span:nth-child(3){
    background-color: #8a8e92;
}
.ropadecasa-producto .sabanas span:nth-child(4){
    background-color: #f3dfd6;
    border: 1px solid #e1dddd;
}
.ropadecasa-producto .sabanas span:nth-child(6){
    background-color: #9fa3a4;
}
.ropadecasa-producto .sabanas span:nth-child(5){
    background-color: #000;
}
.ropadecasa-producto .sabanas span:nth-child(7){
    background-color: #2c4d82;
}
.ropadecasa-producto .sabanas span:nth-child(8){
    background-color: #828e98;
}
.acolchados{
    width: 450px;
    margin: 0;
    padding: 15px;
    height: 400px;
    transition: none;
    border: none;
}
.acolchados button{
    margin-top: 30px;
}
.acolchados:hover{
    transform: none;
    box-shadow: none;
    
}
/* Vestidos de baño */
.comenthombres{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin-left: 30px;
}   
.imgbaño{
    border-radius: 40px;
}
.extrabañohombre{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin: 30px;
}

/* pagina de administrador */
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buscar input{
    border: 4px solid #0056b3;
    text-align: center;
    width: 300px;
    font-size: 20px;
}
.buscar button{
    border: 4px solid #0056b3;
    background-color: #0056b3;
    color: #fff;
    width: 200px;
    font-size: 20px;
}
.buscar input:focus { /*para quitar la line del input*/
    outline: none;
}
.buscar button:hover{
    background-color: #d45992;
    border: 4px solid #d45992;
} 
/* anuncio admin */
.anuncio {
    display: flex; 
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 450px;
    justify-content: center; 
    align-items: center; 
}
.anuncio-contenido {
    background-color: rgb(103, 130, 181);
    padding: 80px;
    border-radius: 8px;
    width: 500px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 30px;
    color: #fff;
}
.cerrar-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
/* botones para buscar */
.botones-buscar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones-buscar button{
    margin-left: 100px;
    margin-top: 100px;
    background-color: #0056b3;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
}
.botones-buscar button:hover{
    background-color: #d45992;
}

/* menu administrador */
.menu-admin{
    margin: 20px;
    
}
.menu-admin-contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}
.menu-admin-contenido  .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
    height: 150px;
    overflow: hidden; /* Esconde cualquier contenido desbordado */
}
.menu-admin-contenido .contenido p{
    font-size: 30px;
}
.menu-admin-contenido a{
    font-size: 30px;
    text-decoration: none;

    color: inherit; /*para que no tenga ese color azul*/
}
.menu-admin-contenido .contenido img {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
    height: 100%; /* Asegúrate de que la imagen ocupe toda la altura */
    object-fit: cover; /* Para que la imagen cubra el contenedor */
}
.menu-admin-contenido .contenido:hover
{
    background-color: blue;
    color: white;
    transition: all 2s ease;
}


/* Boton de abrir y cerrar  */
.abrir, .cerrar {
    display: none;
    /* border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; */
}
/* Los media quires */

/* Estilos para dispositivos grandes y medianos */
/* @media (max-width: 1920px) {
    .header{
        display: flex;
        flex-direction: column;
    }
    .header2{
        display: flex;
    }
    .logosur{
        width: 140px;
        margin-right: 800px;

    }
    .logonuve img{
        width: 80px;
        height: 80px;
    }
} */
/* @media (max-width: 1200px) {
    .header {
        flex-direction: row;
    }

    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0; 
        right: 0;
        height: 100%;
        background-color: #ffffff;
        padding: 1rem;
        width: 100%;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }

    .links.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .menu-header span {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }

    .close-menu {
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

    .links a {
        text-decoration: none;
        color: #000000ec;
        margin: 10px 0;
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #eee;
        font-size: 14px;
    }

    .links a.highlight {
        color: #d9534f; 
        font-weight: bold;
    }
    .nav {
        display: flex;
        align-items: end;
    }

    .abrir {
        display: block;
        color: #1c1c1c;
        cursor: pointer;
    }

    .cerrar {
        display: block;
        color: #000;
        font-size: 24px;
        cursor: pointer;
    }

    .logosur{
        width: 250px;
        margin-left: 10px;
    }
    .logonuve{
        width: 90px;
    }
    .icons{
        opacity: 0;
    }
    .dropdown-content {
        width: 150px;
    }

    .dropdown-content a {
        font-size: 12px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
    }

    .gallery .contmujer {
        display: flex;
        flex-direction: column;
    }
} */

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
}
.redes h2{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.redes-cont svg{
    fill: #000;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
}
.redes-cont svg:hover{
    fill: #fff;
    background-color: #000;
    transition: all 2s ease;
    border-radius: 50%;
}
.redes-cont .inta:hover{
    fill: #fff;
    background-color: #000;
    transition: all .02s ease;
    border-radius: 30%;
}
.footer {
    background-color: #ffffff;  
    padding: 20px; 
    border-top: 4px solid rgb(137, 136, 136);  
    font-family: Arial, sans-serif;  
    display: flex;  
    justify-content: space-between;  
    align-items: center; 
    max-width: 1200px; 
    margin: 10px auto;
  
}
.seccion {
    flex: 1;  
    min-width: 250px;  
    padding: 10px;  
    box-sizing: border-box; 
    text-align: center;  
    background-color: rgba(255, 255, 255, 0.8);  
    border-radius: 8px;  
    padding-top: 20px;
    margin-left: 20px;
    
}
.titulofo {
    font-size: 2.0em;  
    margin-bottom: 10px; 
    color: #000000;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enlaces {
    list-style: none;  
    padding: 0;  
    
}

.enlaces li {
    margin-bottom: 5px;  
}

.enlaces a {
    text-decoration: none;  
    color: #070707;  
    transition: color 0.3s;  
}

.enlaces a:hover {
    color: #0056b3;  
}

.seccion p {
    margin: 5px 0; 
    color: #000000;  
}
.seccio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}